.git
.Rproj.user
.Rhistory
.vscode

hsenv

/SocKult_RumDet/Preprocessing/RumourEval2019
/SocKult_RumDet/Preprocessing/__pychache__
/SocKult_RumDet/Preprocessing/cache
/SocKult_RumDet/Preprocessing/saved_dataRumEval2019
/SocKult_RumDet/Preprocessing/data
/SocKult_RumDet/Preprocessing/__pycache__
/SocKult_RumDet/Preprocessing/saved_dataSocKult_RumDet
/SocKult_RumDet/Preprocessing/Safebox
/SocKult_RumDet/Preprocessing/sacred-twitter-data-w-test

/cache
SocKult_RumDet/Preprocessing/data.zip
